nav.navbar.navbar-fixed-top
	.container-fluid
		.navbar-header
			//a.navbar-brand(href='#') JMKNOLL
				<span class="glyphicon glyphicon-home"></span>
			.collapse.navbar-collapse#bs-example-navbar-collapse-6
				ul.nav.navbar-nav
					li
						a(ng-href="#") Home
					li
						a(ng-href="#") About
					li
						a(ng-href="#") Contact
