nav.navbar(ng-controller='HeaderCtrl')
	.container-fluid
		.navbar-left
			img.burger-icon(src='assets/images/menu_burger.png')
		ul.navbar-right
			li
				a(ng-href="#") Home
			li
				a(ng-href="#") About
			li
				a(ng-href="#") Contact
