//@navGradient: lineargradient( 180deg, #1AD6FD, #1D62F0 );

.navbar {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	//background: @navBackground;
	background: transparent;
	border-bottom: none;
	//border-radius: 0;
	height: 50px;
	//margin-bottom: 0;
	//position: fixed;
	box-shadow: none;

	.burger-icon {
		cursor: pointer;
	}

	a {
		color: white;
		font-size: 16px !important;
	}

	a:link, a:visited, a:hover, a:focus, a:active {
		text-decoration: none !important;
	}

	li.active {
		background-color: @darkBlueTitle;
	}

	.navbar-right {
		float: right;
	}
}