ng-include(src="'app/components/navbar/navbar.html'")

.landing-page

	.section.top-section
		h1.title-text(ng-click='fadeInSubtext()') Jameson Knoll
		h2.subtitle-text(ng-hide='hideSubtext') Full Stack Web Design and Development
		.social-icon-container
			img.social-icon.social-icon-1(ng-hide='hideTwitter', src='assets/images/social_twitter.svg')
			img.social-icon.social-icon-2(ng-hide='hideLinkedIn', src='assets/images/social_linkedin.svg')
			img.social-icon.social-icon-3(ng-hide='hideGithub', src='assets/images/social_github.svg')
	.section.process-section
		.container
			.row
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					h2.bio-title BIO
					ul.bio-list
						li Web and mobile developer currently based in Shanghai, China. 
						li Several years experience developing high performance scalable applications on web and mobile platforms.
						li Currently doing web application development at Shanghai AppMaker.
						li Willing to take on select projects. 
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					h2.bio-title ETHOS
					ul.bio-list
						li The value of a positive web presence increases every day
						li An excellent web and mobile presence is one of the most powerful tools a business owner has.
						li Provide and act on data-driven insights
						li It is impossible to overestimate the value of good design

	.section.portfolio-section
		.slide
			h1 sample content of portfolio slide 1
		.slide
			h1 sample content of portfolio slide 2
		.slide
			h1 sample content of portfolio slide 3

	.section.blog-section
		h2.section-title FROM THE BLOG
		ul(ng-repeat='post in posts')
			.blog-post 
				span.post-title {{ post.title }}
				span.post-date {{ post.date.substr(0,10) }}
				div.post-content(ng-bind-html='post.content.substr(0,500)')
				span ... 
				a.read-more-link Read More
	.section.contact-section
		.container
			.row
				.col-lg-6.col-md-6.col-sm-12.col-sm-12
					.contact-header-container
						h1.contact-header let's
						h1.contact-header.contact-header-offset talk
				.col-lg-6.col-md-6.col-sm-12.col-sm-12
					form.contact-form(ng-submit='saveEmail()')
						.form-group
							label Name
							input(type='text', name='name', class='form-control', ng-model='contact.name', required)
						.form-group
							label Email 
							input(type='email', name='email', class='form-control', ng-model='contact.email', required)
						.form-group
							label Please briefly describe your project
							input(type='textarea', name='proj-desc', class='form-control', ng-model='contact.description', rows='10')
						.form-group
							label Price Range
							select(class='form-control', ng-model='contact.price')
								option(value='$0 - $500') $0 - $500
								option(value='$500 - $1500') $500 - $1500
								option(value='$1500 - $2500') $1500 - $2500
								option(value='$2500 - $5000') $2500 - $5000
								option(value='$5000+') $5000
						button.btn.btn-primary Submit
						





