ng-include(src="'app/components/navbar/navbar.html'")

.landing-page

	.section.top-section
		h1.title-text(ng-hide='hideTitle', ng-click='fadeInSubtext()') Tony Stark
		h2.subtitle-text(ng-hide='hideSubtext') Full Stack Web Design and Development
		.social-icon-container
			img.social-icon.social-icon-1(ng-hide='hideTwitter', src='assets/images/social_twitter.svg')
			img.social-icon.social-icon-2(ng-hide='hideLinkedIn', src='assets/images/social_linkedin.svg')
			img.social-icon.social-icon-3(ng-hide='hideGithub', src='assets/images/social_github.svg')
	.section.process-section
		.container
			.row.intro-article
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					h2.bio-title BIO
					.bio-list
						p Hey there. My name is Jameson Knoll. I'm a web and mobile developer from Pennsylvania currently working for a digital media agency in Shanghai, China. Thanks for stopping by my site.
						p You'll find info about my software development process, a portfolio of some of my more recent work, and my blog on tech, startups, the scene in Shanghai/APAC, and cats. 
						p Have an idea for a killer app? Or need a website for your business? I'm currently taking on select design and development projects, as well as providing technical consulting for startups and individual projects. Please use the form below to get in touch, or feel free to contact me via LinkedIn or Twitter. 

				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					h2.bio-title ETHOS
					.bio-list.ethos-list
						p Mobile first. Always.
						p The is no substitute for good content. 
						p Except perhaps an amazing user experience. 
						p Technology should support the experience. Not the other way around.
						p The value of a quality web and mobile presence continues to increase every day. 
						p It is difficult to overestimate the value of good design. 
						p Intuition is great, but data is better. 
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.our-process
					h2 OUR PROCESS
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.process-title-section
					.process-icon-holder
						img.process-icon(src='assets/images/icon_lightbulb.png', ng-mouseenter='setProcess(0, $event)', ng-mouseleave='decolorizeIcon($event)') 
						p.process-title Strategize
					.process-icon-holder
						img.process-icon(src='assets/images/icon_paintbrush.png', ng-mouseenter='setProcess(1, $event)', ng-mouseleave='decolorizeIcon($event)') 
						p.process-title Design
					.process-icon-holder
						img.process-icon(src='assets/images/icon_code.png', ng-mouseenter='setProcess(2, $event)', ng-mouseleave='decolorizeIcon($event)') 
						p.process-title Develop
					.process-icon-holder
						img.process-icon(src='assets/images/icon_gears.png', ng-mouseenter='setProcess(3, $event)', ng-mouseleave='decolorizeIcon($event)') 
						p.process-title Maintain
			.row
				.col-lg-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.process-keyword-row(ng-hide='showProcess != 0')
						span.process-keyword  analytics
						img.process-icon.process-icon-first(src='assets/images/process_seperator_icon.png')
						span.process-keyword  tech 
						img.process-icon.process-icon-first(src='assets/images/process_seperator_icon.png')
						span.process-keyword  research 
					.process-keyword-row(ng-hide='showProcess != 1')
						span.process-keyword   interactive 
						img.process-icon.process-icon-second(src='assets/images/process_seperator_icon.png')
						span.process-keyword 	u/x
						img.process-icon.process-icon-second(src='assets/images/process_seperator_icon.png')
						span.process-keyword  interface 
					.process-keyword-row(ng-hide='showProcess != 2')
						span.process-keyword   responsive  
						img.process-icon.process-icon-third(src='assets/images/process_seperator_icon.png')
						span.process-keyword   scale  
						img.process-icon.process-icon-third(src='assets/images/process_seperator_icon.png')
						span.process-keyword   mobile
					.process-keyword-row(ng-hide='showProcess != 3')
						span.process-keyword performance
						img.process-icon.process-icon-fourth(src='assets/images/process_seperator_icon.png')
						span.process-keyword    seo   
						img.process-icon.process-icon-fourth(src='assets/images/process_seperator_icon.png')
						span.process-keyword  analytics 



	.section.portfolio-section
		.container-fluid
			.row
				.title-holder
					span.section-title PORTFOLIO
			
			//.card-holder
				.row
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.card
							.card-image.waves-effect.waves-block.waves-light
								img.activator(src="/assets/images/portfolio_gts.jpg")
							.card-content
								.card-title.activator.grey-text.text-darken-4 Porsche GTS China App
								p
							.card-reveal
								.card-title.grey-text.text-darken-4 Porsche GTS China App
								p A web app which added a social aspect to Porsche GTS dealership events across China. Allowed dealerships to share photos and information about events with their customers through a custom application interface. Built with Angular, Node, and Express.
								p This application is optimized for mobile, please scan the QR code below to begin. 
								img(src='/assets/images/gts_qr.png')
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.card
							.card-image.waves-effect.waves-block.waves-light
								img.activator(src="/assets/images/portfolio_pep.jpg")
							.card-content
								.card-title.activator.grey-text.text-darken-4 Porsche GTS China App
								p
							.card-reveal
								.card-title.grey-text.text-darken-4 Porsche GTS China App
								p This is a web app that I built for Porsche dealership launch events throughout China.
								p Utilized a MEAN stack with SailsJS in the backend and AngularJS in the front. 
				.row
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.card
							.card-image.waves-effect.waves-block.waves-light
								img.activator(src="/assets/images/portfolio_attainist.jpg")
							.card-content
								.card-title.activator.grey-text.text-darken-4 Porsche GTS China App
								p
							.card-reveal
								.card-title.grey-text.text-darken-4 Porsche GTS China App
								p This is a web app that I built for Porsche dealership launch events throughout China.
								p Utilized a MEAN stack with SailsJS in the backend and AngularJS in the front.
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.card
							.card-image.waves-effect.waves-block.waves-light
								img.activator(src="/assets/images/portfolio_autograder.jpg")
							.card-content
								.card-title.activator.grey-text.text-darken-4 Porsche Enthusiast Stories
								p
							.card-reveal
								.card-title.grey-text.text-darken-4 Porsche Enthusiast Stories
								p Responsive Web and Mobile Site built primarily in AngularJS. Tells the true life stories of Porsche drivers who are shaping the future of China. 

			// alternate version of the portfolio section
			.row.portoflio-row
				.portfolio-item.portfolio-item-first
					.title
					.content
				.portfolio-item.portfolio-item-second
			.row.portfolio-row
				.portfolio-item.portfolio-item-third
				.portfolio-item.portfolio.item-fourth

	.section.blog-section
		.container-fluid
			.row
				.title-holder
					span.section-title FROM THE BLOG
		ul(ng-repeat='post in posts')
			.blog-post 
				.content-header
					span.post-title {{ post.title }}
					span.post-date {{ post.date.substr(0,10) }}
				.content-container
					div.post-content(ng-bind-html='post.content.substr(0,500)') 
					span.read-more-dots ... 
					a.read-more-link Read More
	.section.contact-section
		.container
			.row
				.col-lg-6.col-md-6.col-sm-12.col-sm-12
					.contact-header-container
						h1.contact-header let's
						h1.contact-header.contact-header-offset talk
				.col-lg-6.col-md-6.col-sm-12.col-sm-12
					form.contact-form(ng-submit='saveEmail()')
						.form-group
							label Name
							input(type='text', name='name', class='form-control', ng-model='contact.name', required)
						.form-group
							label Email 
							input(type='email', name='email', class='form-control', ng-model='contact.email', required)
						.form-group
							label Please briefly describe your project
							input(type='textarea', name='proj-desc', class='form-control', ng-model='contact.description', rows='10')
						.form-group
							label Price Range
							select(class='form-control', ng-model='contact.price')
								option(value='$0 - $500') $0 - $500
								option(value='$500 - $1500') $500 - $1500
								option(value='$1500 - $2500') $1500 - $2500
								option(value='$2500 - $5000') $2500 - $5000
								option(value='$5000+') $5000
						button.btn.btn-primary Submit
						





